.containerImgCapa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.imgWrapper {
  position: relative;
  width: 75%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
}

.imgCapa {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.overlayGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 60%);
  pointer-events: none;
}

.containerDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.containerDescription h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 2rem;
}

.divTexts {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.divTexts span {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #fff;
}

.divTexts p {
  font-size: 14px;
  font-weight: 300;
}

.divSociais {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
}
.divSociais a {
  border: 1px solid #fff;
  padding: 6px;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.divSociais a:hover {
  transform: scale(1.1);
}

.containerTags {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.containerTags div {
  width: 100%;
  max-width: 130px;
  text-align: center;
}
.containerTags div h2 {
  font-size: 24px;
  margin-bottom: 4px;
}
.containerTags div p {
  font-size: 14px;
  font-weight: 300;
  color: #e6e5e5;
}

@media (max-width: 540px) {
  .containerImgCapa {
    margin-top: 0;
  }
  .imgWrapper {
    width: 100%;
    height: 300px;
    border-radius: 0;
  }
  .containerDescription h1 {
    font-size: 1.7rem;
  }
  .containerDescription {
    margin-top: -1.7rem;
  }
  .divSociais a img{
    width: 24px;
    height: 24px;
  }
  .containerTags {
    margin-top: 1.5rem;
    gap: 1rem;
  }
  .containerTags div h2 {
    font-size: 1rem;
    margin-bottom: 0px;
  }
}
