.sectionImgPerfil {
  position: relative;
  z-index: 300;
  margin-top: -3.6rem;
}

.containerImgPerfil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionImgPerfil .containerImgPerfil img {
  width: 120px;
}

@media (max-width: 540px) {
  .sectionImgPerfil {
    border-radius: 26px 26px 0 0;
    background: #333;
    margin-top: -1.5rem;
  }
  .sectionImgPerfil .containerImgPerfil{
    position: relative;
    top: -3rem;
  }
}
